@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Bold"),
    url("#{$font-path}/nunito-sans/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Regular"),
    url("#{$font-path}/nunito-sans/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-BoldItalic"),
    url("#{$font-path}/nunito-sans/NunitoSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Italic"),
    url("#{$font-path}/nunito-sans/NunitoSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("#{$font-path}/kumbh/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("#{$font-path}/kumbh/KumbhSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("#{$font-path}/kumbh/KumbhSans-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "GOODBRUSH";
  src: url("#{$font-path}/good-brush/GOODBRUSH.woff2") format("woff2");
  unicode-range: U+30,U+32,U+36;
}
