@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Bold"),
    url("../fonts/nunito-sans/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Regular"),
    url("../fonts/nunito-sans/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-BoldItalic"),
    url("../fonts/nunito-sans/NunitoSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Nunito";
  src:
    local("Nunito-Italic"),
    url("../fonts/nunito-sans/NunitoSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("../fonts/kumbh/KumbhSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("../fonts/kumbh/KumbhSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Kumbh";
  src:
    local("KumbhSans"),
    url("../fonts/kumbh/KumbhSans-Black.woff2") format("woff2");
  font-weight: 900;
}


@font-face {
  font-family: "GOODBRUSH";
  src: url("../fonts/good-brush/GOODBRUSH.woff2") format("woff2");
}
