$enable-rounded: true;

$purple:  #734bf9;
$pink:    #d00770;
$blue:    #058fd6;
$white:   #fff;
$black:   #0c0b0f;
$light:   #ededf0;
$dark:    #25222c;
$yellow:  #fdc02f;

$purple-light: #ad95fb;
$purple-dark: #4f27d6;
$pink-dark: #b40b57;
$blue-dark: #0068a8;

$primary: $purple;
$secondary: $pink;
$danger: $pink;
$success: #198754;

$body-bg: $light;
$text-muted: #5b5b66;
$link-color: $secondary;
$link-hover-color: $pink-dark;
$link-decoration: underline;
$border-radius: 1.5rem;
$emphasized-link-hover-darken-percentage: 20%;
$enable-responsive-font-sizes: true;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-family-sans-serif: Nunito, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$headings-font-weight: 800;
$headings-font-family: Kumbh, Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
$small-font-size: .75rem;
$font-size-base: 1rem;
$h3-font-size: $font-size-base * 1.375;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.15;
$hr-border-width: 0;
$hr-margin-y: 2rem;
$btn-font-weight: 700;
$btn-padding-x: 1.25rem;
$btn-border-radius: 1.25rem;
$btn-padding-x-lg: 1.5rem;
$btn-border-radius-lg: $border-radius;
$card-border-width: 0;
$card-border-radius: $border-radius;
$card-spacer-y: .75rem;
$card-spacer-x: 1.25rem;
$list-group-border-color: $light;
$list-group-active-bg: $primary;
$list-group-active-color: $white;
$list-group-active-border-color: $purple-dark;
$navbar-light-active-color: $secondary;
$navbar-dark-color: rgba($white, .8);
$navbar-dark-hover-color: $white;
$badge-font-size: .75em;
$badge-font-weight: 800;
$table-bg: #fff;
$table-accent-bg: rgba($secondary, .02);
$nav-tabs-border-color:             rgba($secondary, 0.2);
$nav-tabs-border-radius:            $border-radius / 4;
$nav-tabs-link-hover-border-color:  rgba($secondary, 0.2);
$nav-tabs-link-active-color:        $dark;
$nav-tabs-link-active-bg:           #fff;
$nav-tabs-link-active-border-color: transparent;

$custom-file-text: (
  en: "Browse",
  fr: "Parcourir"
);

// Paris Web only
$stamp-color: $blue;

@function escape-color($color: $primary) {
	$without-octothorp: str-slice(inspect($color), 2, 10);
	@return $without-octothorp;
}
