$font-path: "../fonts";
$img-path: "../images";

@import "variables";
@import "fonts";

//
// Reboot
//
html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    min-height: 100vh;
    background-image: url("#{$img-path}/bg-home.png");

    > main {
        flex: 1 0 100%;
    }

    > :is(nav, footer) {
        flex: 0 0 auto;
    }
}

::selection {
  background-color: $purple-light;
  background-color: color-mix(in srgb, #{$purple-light}, transparent 25%);
  color: $black;
}
h3 {
	color: $text-muted;
}Z

dd {
	margin-bottom: 0;
}

hr {
	background: url('#{$img-path}/bg-lines.svg') 50% / contain no-repeat;
  height: 2rem;
  margin-inline: -1.25rem;
}

ul:not([class]) li {
	list-style: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'><circle fill='%23FF52AB' cx='8' cy='8' r='8'></circle><circle fill='white' cx='8' cy='8' r='7'></circle><circle fill='%23E11A81' cx='8' cy='8' r='3'></circle></svg>");
}

//
// Forms
//
legend {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

label:not(.form-check-label) {
  margin: .25rem;
  color: $text-muted;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
}

.required label::after {
  content: " (obligatoire)";
  font-weight: $font-weight-normal;
}

:lang(en) .required label::after {
    content: " (required)";
}

.form-text {
	margin: .25rem;
}

//
// Components
//
.nav-link {
	&, &:hover, &:focus {
		text-decoration: underline;
	}

	.active & {
		text-decoration-color: $secondary;
  	text-decoration-thickness: .1rem;
    text-underline-offset: .5rem;
	}
}

.navbar-nav {
	width: 100%;
}

.list-group-item.active,
.navbar .nav-link[aria-current="page"] {
	font-weight: $font-weight-bold;
}

.dropdown-toggle {
	&::after {
		vertical-align: .1em;
	}

	&-split {
		padding-left: .75rem;
	}
}

.badge {
	font-family: $headings-font-family;
}

.memo-badge {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  font-size: 1rem;
}

.card-post-it {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	margin-top: 2rem;
	transform: rotate(1deg);
	filter: drop-shadow(1px 1px #{$light})
					drop-shadow(1px -1px #{$light})
					drop-shadow(-1px 1px #{$light})
					drop-shadow(-1px -1px #{$light});

	.card-body {
		margin-top: -2rem;
	}

	&::before {
		content: url('#{$img-path}/bg-postit.svg');
		translate: 0 -2rem;
	}
}

.stamp {
	color: $stamp-color;
	border-color: currentcolor;
	transform: translateX(8rem) rotate(5deg);

	.list-group-item & { transform: translateX(-1rem) rotate(5deg); }
}

.title-with-mark {
	position: relative;
	z-index: 1;

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    display: block;
    inset-inline: -0.2em;
    inset-block: 0 -0.4em;
    background-image: url("#{$img-path}/blue-mark.svg");
    background-repeat: no-repeat;
  }
}

//
// Pages
//
.home {
  font-size: 1.3rem;
}

.home-intro {
  font-size: 1.5rem;
}

.home-title-gradient {
  font-family: 'GOODBRUSH', $headings-font-family;
  display: inline-block;
  margin: 0 0 2.5rem;
  line-height: 1;
  padding-bottom: 0.1em;
  font-weight: 900;
  font-size: 3rem;

  time {
	 	background: linear-gradient(220deg, #{$blue}, #{$pink});
	  background-clip: text;
	  color: transparent;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: .4lh;
    background-image: url("#{$img-path}/pink-swish.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 15rem;
  }
}

@media (min-width:768px) {
  .home-title-gradient {
    font-size: 5.5rem;
  }
}

//
// Utilities
//
.bg-dark {
    color: $white !important;

    a {
        color: $white;

        &:hover, &:focus {
        	text-decoration: none;
        }
    }
}

#djDebug {
    position: absolute;
}
